div.container{
background-color: yellowgreen;
overflow: auto;
white-space: nowrap;

}
div.container1 {
    display: inline-block;
    color: :read-only;
    text-align: left;
    padding: 20px;
    text-decoration: wavy;
}